body
{
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container
{
    background-color: white;
    padding:  50px;
    text-align: center;
    
}

h1
{
    margin : 0px 0px  10px 0px
}

input
{
    width: 200px;
    margin : 10px 0px;
    padding : 10px;
}

#submit
{   
    width: 140px;
    background-color: blue;
    border: 0px;
    color: white;
}

.error
{
    color: red;
    margin: 0px;
    padding: -2px ;
    text-align: left;

}